* {
    margin: 0;
}
h1, p, div, a, option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 47px;
    background: #191919;
}
.container {
    width: 1140px;
    height: auto;
    margin: 0 auto;
}
.footer {
    width: 100%;
    height: 557px;
    background: #191919;
}
.inner_header {
    display: flex;
}
.left_header {
    width: 50%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_header {
    width: 50%;
    height: 47px;
}
.near_email {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-left: 20px;
}
.email_header {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-right: 1px solid white;
    padding-right: 20px;
    display: flex;
    gap: 10px;
}

.inner_right_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -240px;
}
.icons_header {
    display: flex;
    gap: 30px;
    margin-top: 15px;

}
.language {
    display: flex;
    gap: 20px;
    border-right: 1px solid white;
    padding-right: 20px;
    margin-left: 50px;
    margin-top: 10px;
}
.current_language {
    background-color: #191919;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.login {
    margin-top: -20px;
    margin-left: 460px;
    gap: 10px;
    width: 100px;
    display: flex;
}
.Login_text {
    color: white;
    margin-top: -4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon_logo {
    height: 80px;
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 30px;
    margin-left: 100px;
}


.menu_home a, .menu_shop a, .menu_pages a, .menu_blog a, .menu_contact a {
    text-decoration: none;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #2A2A2A;
}
.menu_shop a:hover, .menu_pages a:hover, .menu_blog a:hover, .menu_contact a:hover {
    color: #7FAD39;
}
.menu_home a {
    color: #7FAD39;
}
.item {
    margin-left: 260px;
}
.item_price {
    color: #999999;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.price {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.last_item {
    display: flex;
}
.section_2 {
    display: flex;
    gap: 28px;
}
.All_department {
    width: 276px;
    height: 50px;
    display: flex;
    background-color: #7FAD39;

}
.inner_all_department {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.text_inner_all_department {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: -20px;
}
.All_department:hover {
    background-color: #688f2e;
    transition: .3s;
}
.fa-angle-down {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.fa-bars {
    color: white;
    margin-left: 10px;
}

.drop_down {
    width: 14px;
    margin-top: 4px;
    height: 10px;
}
.search {
    width: 600px;
    height: 50px;
    display: flex;
    border: 2px solid gray;
}
.select_input {
    display: flex;
    margin-left: 20px;

}
.select  {
    border: none;
    display: flex;
    padding-right: 10px;
    font-weight: 800;
    width: 150px;
    outline: none;
}
.input_search {
    width: 360px;
    font-size: 15px;
    font-weight: 500;   
    margin-left: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.search_button {
    width: 100px;
    border: none;
    background-color: #7FAD39;
    color: white;
    font-weight: 700;
}
.search_button:active {
    background-color: #688f2e;    
}

.border_input {
    border-left: 2px solid #999999;
    height: 15px;
    margin-top: 15px;
    margin-left: 10px;
}
.call {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.phone_number {
    width: 150px;
    height: 50px;
    margin-top: 10px;
}
.number {
    font-size: 15px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #191919;
}
.support {
    font-size: 12px ;
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.configuration {
    margin-top: 18px;
    width: 268px;
    height: 440px;
    border: 1px solid #999999;

}
.menu_config {
    width: 250px;
    height: 40px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #999999;
}
.menu_config:hover {
    background-color: #7FAD39;
    color: white;
}
.main_foto {
    width: 77%;
    height: 440px;
    margin-top: 18px;
    margin-left: 30px;
    background-color: #F5F5F5;
    position: relative;
}
.inner_foto {
    width: 500px;
    height: auto;
    position: absolute;
    top: 60px;
    left: 360px;
}
.fa-regular {
    font-size: 18px;
    color: white;
}
.fa-square-facebook, .fa-linkedin, .fa-twitter {
    color: white;
    font-size: 24px;
}
.fa-whatsapp {
    color: white;
    font-size: 24px;
}
.flag_language {
    width: 30px;
}
.fa-bag-shopping {
    color: black;
}
.bag {
    margin-left: 10px;
    width: 18px;
}
.call_phone {
    width: 18px;
}

.fresh_text {
    font-size: 18px;
    color: #7FAD39;
    letter-spacing: 4px;

}
.vegatable_text {
    font-weight: 700;
    font-size: 34px;
    width: 240px;
    margin-top: 15px;
}
.free_pickup {
    font-weight: 600;
    color: #999999;
    margin-top: 15px;
}
.shop_now {
    color: white;
    background-color: #7FAD39;
    border: none;
    font-weight: 600;
    padding: 20px 40px;
    margin-top: 50px;
}
.shop_now:hover {
    background-color: #688f2e;
    transition: .5s;
}
.box_info {
    height: 300px;
    margin-top: 70px;
    margin-left: 70px;
}

.type_product {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    height: 260px;
}
.fresh_fruit, .dried_fruit, .vegetables, .drink_fruit {
    width: 270px;
    height: 100%;
    background-color: #F5F5F5;
    padding-left: 10px;
}
.fresh_fruit button:hover, .dried_fruit button:hover, .vegetables button:hover, .drink_fruit button:hover {
    background-color: #cacaca;
    transition: 0.5s;
}
.fresh_fruit button, .dried_fruit button, .vegetables button, .drink_fruit button {
    padding: 14px 50px;
    background-color: white;
    border: none;
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.advertising {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    display: flex;
    gap: 20px;
    position: relative;
}
.foto_advertising_1 h1 {
    position: absolute;
    top: 50px;
    color: white;
    font-size: 32px;
    left: 300px;
}
.foto_advertising_1 p {
    position: absolute;
    left: 300px;
    top: 100px;
    color: white;
    font-size: 20px;
}
.foto_advertising_1 button {
    position: absolute;
    left: 300px;
    top: 150px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 14px 36px;
    background-color: #7FAD39;
    color: white;
}

.foto_advertising_2 h1 {
    position: absolute;
    top: 50px;
    color: white;
    font-size: 32px;
    width: 300px;
    left: 890px;
}
.foto_advertising_2 p {
    position: absolute;
    left: 890px;
    top: 140px;
    color: white;
    font-size: 20px;
}
.foto_advertising_2 button {
    position: absolute;
    left: 890px;
    top: 184px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 14px 36px;
    background-color: #7FAD39;
    color: white;
}
.foto_advertising_1 button:hover, .foto_advertising_2 button:hover {
    background-color: #688f2e;
    transition: .3s;
}

.transitions {
    width: 100%;
    height: 50px;
    justify-content: space-between;
    display: flex;
}
.transitions_box_1, .transitions_box_2, .transitions_box_3 {
    width: 33%;
    height: 100%;
    display: flex;
    gap: 18px;
    align-items: center;
}
.transitions_box_1 button:hover, .transitions_box_2 button:hover, .transitions_box_3 button:hover {
    background-color: #cacaca;
    transition: .5s;
}

.transitions_box_1 h1 {
    margin-right: 90px;
}
.transitions_box_2 h1, .transitions_box_3 h1 {
    margin-right: 40px;
}

.transitions_box_1 button, .transitions_box_2 button, .transitions_box_3 button {
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
}
.transitions_box_1 button:active, .transitions_box_2 button:active, .transitions_box_3 button:active {
    background-color: #999999;
}
.menu_fresh {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.fresh_box_1, .fresh_box_2, .fresh_box_3, .fresh_box_4, .fresh_box_5, .fresh_box_6, .fresh_box_7, .fresh_box_8, .fresh_box_9 {
    width: 365px;
    height: 100px;
    display: flex;
}

.fresh_box_1:hover, .fresh_box_2:hover,.fresh_box_3:hover,.fresh_box_4:hover,.fresh_box_5:hover,.fresh_box_6:hover,.fresh_box_7:hover,.fresh_box_8:hover,.fresh_box_9:hover {
    background-color: #F5F5F5;
    transition: .5s;
}
.fresh_foto_1 img {
    width: 100px;
    background-color: #F5F5F5;
}

.fresh_text_foto {
    margin-top: 30px;
    margin-left: 14px;
}
.fresh_text_foto p {
    font-size: 18px;
}
.title_h1_product {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
}

.menu_fruet_product {
    width: 310px;
    gap: 20px;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    color: #999999;
    margin-bottom: 10px;
}

.menu_fruet_product h5:hover {
    color: #191919;
    border-bottom: 1px solid #191919;

}
.block_buy_prodcuts {
    width: 100%;
    height: 726px;
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 17.5px;
}
.box_buy_product {
    width: 270px;
    background-color: #F5F5F5;
    height: 350px;
}
.box_buy_product img {
    width: 100%;
}
.box_buy_product div {
    width: 230px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
}
.box_buy_product div p {
    margin-top: 10px;
    padding-top: 13px;
    font-size: 18px;
    margin-bottom: 6px;
}
.box_buy_product div:hover {
    transition: 0.5s;
    background-color:  rgb(222, 222, 222);
}


.line_box {
    width: 100px;
    margin: 0 auto;
    border: 3px solid #7FAD39;
}
.blog {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.blog_box1 {
    width: 33%;
    height: 520px;
}
.blog_box_img {
    width: 100% ;
}
.blog_inner_box {
    display: flex;
    color: #999999;
}
.blog_inner_box img {
    width: 20px;
    margin-top: 10px;
    margin-right: 12px;
}
.blog_inner_box p {
    margin-top: 10px;
    margin-right: 20px;
}
.blog_box1 h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
}
.blog_box1 p b {
    font-weight: 700;
    color: #757575;
}
.blog_box1 p {
    color: #757575;
}

.footer_box {
    width: 1140px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.footer_box_block1 {
    width: 320px;
    margin-left: -38px;
}
.footer_box_block1 img {
    margin-top: 50px;
    margin-left: 40px;
}

.footer_box_block1 ul {
    list-style: none;
    margin-top: 30px;
    color: white;
    
}
.footer_box_block1 ul li {
    margin-bottom: 1em;
}

.footer_box_block2 ul {
    color: white;
    list-style: none;
    margin-top: 60px;
}
.footer_box_block2 ul li {
    margin-bottom: 0.3em;
}

.footer_box_block2 ul li b {
    font-weight: 700;
    font-size: 20px;
}
.footer_box_block3 ul {
    color: white;
    list-style: none;
    margin-top: 90px;
    margin-left: 20px;
}
.footer_box_block3 ul li {
    margin-bottom: 0.5em;
}

.footer_box_block4 {
    width: 470px;
    height: 200px;
    margin-top: 90px;
    margin-left: 60px;
}
.footer_box_block4 h3 {
    color: white;
    font-size: 16px;
}
.footer_box_block4 p {
    color: white;
    font-weight: 100;
    margin-top: 4px;
    margin-bottom: 40px;
}
.footer_email {
    width: 100%;
    height: 50px;
    display: flex;
}
.footer_email input {
    width: 310px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}
.footer_email button {
    width: 150px;
    border: none;
    background-color: #7FAD39;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.footer_email button:active {
    background-color: #688f2e;
}

.footer_icon {
    width: 130px;
    height: 30px;
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.footer_lower {
    width: 1140px;
    height: 30px;
    margin: 0 auto;
    color: white;
    margin-top: 90px;
    display: flex;

}
.bank_card img{
    width: 30px;
}
.bank_card {
    width: 50px;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 15px;
    background-color: white;
}